<section class="most-loved-creations">
  <h2>Most Loved Creations</h2>
  <div class="art-card-grid">
    <div
      class="art-card"
      *ngFor="let creation of mostLovedCreations; let i = index"
      [style.animationDelay]="(i * 0.1) + 's'"
    >
      <div class="image-wrapper">
        <img [src]="creation.image" [alt]="creation.title" class="art-image" />
      </div>
      <div class="card-content">
        <h3>{{ creation.title }}</h3>
        <p class="art-price">{{ creation.price | currency: 'Rs ':'symbol' }}</p>
        <a
  class="buy-whatsapp-button"
  [href]="generateWhatsAppLink(creation)"
  target="_blank"
>
  Buy via WhatsApp
</a>
      </div>
    </div>
  </div>
</section>
